<%- include('../templates/navbar') -%>

  <div class="container-fluid mt-3">
    <div class="jumbotron">
        <ul class="navbar-nav mt-3 mx-auto">
          <li class="nav-item">
            <h2><%= title1 %></h2>
            <h5><%= title2 %></h5>
          </li>
          <li class="nav-item">
            <h2><%= title3 %></h2>
            <h5><%= title4 %></h5>
          </li>
        </ul>
    </div>
  </div>

<%- include('../templates/footer') -%>